<h3>Yo dawg, I bet you can't wait to spit hot fire on Spitter!</h3>
<h3>Create a new account!</h3>

<form method='post' action='/users/new'>
  <input type="text" name='email' placeholder='email'>
  <input type="text" name='password' placeholder='password'>
  Enter a Username!($pitter usernames have a $ in front of them.)
  <input type="text" name='username' placeholder='username'>

  <input type="submit" value="Create User!">

</form>


