<h3>Yo dawg, I bet you can't wait to spit hot fire on Spitter!</h3>
<h3>Create a new account!</h3>

<form method='post' action='/users'>
  <input type="text" name='email' placeholder='email'>
  <input type="text" name='password' placeholder='password'>
  <input type="text" name='username' placeholder='username'>
  <input type="text" name='first_name' placeholder='first name'>
  <input type="text" name='last_name' placeholder='last name'>
  <input type='text' name='about_me' placecholder='about me'>
  <input type='text' name='picture_url' placeholder='picture url'>
  <input type="submit" value="Create User!">
</form>


