<h1>New BatSignal Account</h1>

  <div></div>

  <form action="/users" method="post">
      <input type="text" name="username" placeholder="enter username" value="<% @user.username %>"/>
      <input type="text" name="encrypted_password" placeholder="enter password" value="<% @user.encrypted_password %>"/>
      <input type="submit" value="Bat SignUp">
  </form>