<h1>All Current Users</h1>

<table>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.username %><td>
    <td><%= user.photo_url %><td>
    <td>
      <% if user.fan_id == @current_user.hero_id %>
        <form action="/users/<%= @hero.id %>/unfollow/new" method="post">
          <input type="hidden" name="hero_id" value="<% @current_user.hero_id %>">
          <input type="submit" value="Unfollow">
        </form>
      <% else %>
        <form action="/users/<%= @hero.id %>/follow/new" method="post">
          <input type="hidden" name="hero_id" value="<% @current_user.hero_id %>">
          <input type="submit" value="Follow">
        </form>
      <% end %>
    <% end %>
    </td>
  </tr>

</table>