<h1>Welcome to $pitter~~~$$$$$$</h1>
<p>Please login or create a new user</p>
<form action='/login' method='post'>
  <input type="text" name='username' placeholder='username'>
  <input type="text" name='password' placeholder='password'>
  <input type='submit' value='Login!'>
</form>
<a href="/users/new">Create A New User</a>
