<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<div class="fixed-nav-bar"><a href="/"><img src="/images/SPITTER.png"></a><form action="/hashtags" method="post"><input type="text" name="hashtag_input" placeholder="Enter Hashtag"><input class="button" type="submit" value="Search Hashtag!"></form><a href="/users/<%= session[:user_id] %>">User Profile</a> | <a href="/logout">Logout</a></div>
<body>
  <%= yield %>
</body>
</html>
